.info-title {
    color: var(--text-2);
    font-size: 14px;
    display: flex;
    margin-bottom: 4px;
}

.info-title-count {
    color: var(--text-1);
    margin-left: 8px;
}

.bar {
    background-color: #404040;
    width: 100%;
    height: 13px;
    border-radius: 12px;
}

.bar-fill {
    width: 100%;
    height: 13px;
    border-radius: 12px;
    margin-top: -12px;
}

table {
    color: var(--text-1);
    width: 100%;
    font-size: 13px;
}


tr {
    width: 95%;
    height: 30px;
}

.close {
    width: 20px;
    cursor: pointer;
    height: 20px;
    border-radius: 5px;
    padding-left: 4px;
    padding-right: 4px;
}

.close:hover {
    background-color: var(--grey-1);
}