:root {
    --background-color: #0C0C0C;
    --grey-1: #222222;
    --grey-2: #404040;

    --text-1: #f1f1f1;
    --text-2: #b0b0b0;
    --text-3: #676767;

    --green-1: #339900;
    --yellow-1: #FFCC00;
    --red-1: #D4002A;

    --blue-1: #3366FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0 auto;
    width: 100%;
    background-color: var(--background-color);
    font-family: 'Quicksand';
    overflow: hidden;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}