<div style="width: 100%;">
    <div class="title" style="display: flex;">
        <span style="width: 95%;">Most Developer Commits (24H)</span>
        <img class="close" src="close.svg" (click)="appGlobals.showMostCommitDeveloperComponents = false;">
    </div>
    
    <div *ngIf="initializing" class="loader-area">
        <span class="loader"></span>
    </div>

    <div *ngIf="!initializing" class="info">
        <table>
            <ng-container *ngFor="let commit of lastValue">
                <tr>
                    <td>{{commit.user}}</td>
                    <td style="text-align: right;">{{commit.count}}</td>
                </tr>
            </ng-container>
        </table>
    </div>
</div>