<div style="width: 100%;">
    <div class="title" style="display: flex;">
        <span style="width: 95%;">Builds Queuing Time</span>
        <img class="close" src="close.svg" (click)="appGlobals.showBuildQueuingTimeComponents = false;">
    </div>

    <div *ngIf="initializing" class="loader-area">
        <span class="loader"></span>
    </div>

    <div *ngIf="!initializing" [ngClass]="{'refresh': isRefreshing}" class="info">
        <div class="info-value">{{ lastValue / 60 | number:'1.0-0' }} <span style="font-size: 0.6em;">min</span></div>
    </div>
</div>
