<div style="width: 100%;">
    <div class="title">Slowest Completed Builds (24H)</div>
    
    <div *ngIf="initializing" class="loader-area">
        <span class="loader"></span>
    </div>

    <div *ngIf="!initializing" class="info">
        <table>
            <ng-container *ngFor="let build of lastValue">
                <tr>
                    <td>{{build.name}}</td>
                    <td style="text-align: right;">{{ build.duration / 60 | number:'1.0-0' }} min</td>
                </tr>
            </ng-container>
        </table>
    </div>
</div>